h1 {
    font-size: 50px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    margin-top: auto;
}   

img {
    width: 1700px;
    
}
.titulo {
    text-align: center;
    font-size: 35px;
}

.info {
    font-family:  arial;
    display: flex;
}

.tres {
    margin-top: 100px;
}

.mision {
    display: flex;
    text-align: center;
    padding-left: 300px;
    padding-right: 400px;
}

